[submodule "Helpers/elevator"]
	path = Helpers/elevator
	url = https://github.com/yumiris/elevator.git
	branch = master
[submodule "Helpers/ProcessHacker"]
	path = Helpers/ProcessHacker
	url = https://github.com/ProcessHacker/processhacker.git
	branch = master
