[submodule "Elevator"]
	path = ext/Elevator
	url = https://github.com/Yumiris/Elevator.git
	branch = master
	ignore = all
[submodule "ProcessHacker"]
	path = ext/ProcessHacker
	url = https://github.com/processhacker/processhacker.git
	branch = master
	ignore = all
[submodule "ext/ProcessHacker"]
	shallow = true
